.QuizCreator {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    flex-grow: 1;
    width: 100%;
    background-image: linear-gradient(to top left,
    rgb(39, 93, 163), rgb(57, 87, 154), rgb(75, 81, 145),
    rgb(92, 75, 137), rgb(110, 69, 128), rgb(128, 63, 119),
    rgb(119, 64, 111), rgb(109, 66, 103), rgb(100, 67, 95),
    rgb(90, 68, 87), rgb(81, 70, 79), rgb(71, 71, 71));
}

.QuizCreator div {
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
}

.QuizCreator h1 {
    text-align: center;
    color: #fff;
}
.QuizCreator form {
    background: transparent;
    border-radius: 5px;
    padding: 15px;
}
